body {
    /* font-size: 20px; */
    /* font-size: 2em; */
    /* font-size: 30px; */
}

.ez-tree details{
    padding: 2px
}

.ez-tree summary {
    display: inline-block;
}

.ez-tree details details {
    margin-left: 1em;
    display: block;
}

.ez-tree details.leaf > summary {
    list-style: none;
}

.ez-tree details.leaf > summary::-webkit-details-marker {
    display: none;
}
.ez-tree .node-text::before {
    margin-right: 0.5rem;
}
.ez-tree span[selected="true"]{
    background-color: #C0e0ff;
}

.ez-tree summary {
    cursor: pointer;
}

.ez-tree summary:hover {
    background-color: #C0e0ff;
}
